.service{
    border : 1px solid crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    max-height: 300px;
    padding: 1.5em;
    color: white;
    border-radius: 10px;
}
.services-section{
    background-color: #25273E;
}
.services-offered{
    /* border : 1px solid gray; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 1.5em;
    padding: 1.5em;
}

.services-header{
    padding: 1.5em 2em;
}

.services-header > h3{
    color: crimson;
}
.services-header > h1{
    color : white;
}

.service > h2{
   
}