
figure{
    max-width: 200px;
    max-height: 200px;
    padding: 5px;
}
img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
}
h2{
    color: white;
    text-align: center;
}

.all-stacks-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1.5em;
    padding: 1.5em;
    flex-wrap: wrap;
    background-color: rgba(31,34,51,255);
}
.main-heading{
    background-color: rgba(31,34,51,255);
    color : crimson;
    padding-top: 1em;
    padding-left: 1.5em;
}
